{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}

<div class="container">
<br>
<br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" >
                <div class="card-body">
                    <h2>Registrate</h2>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}

                        <input type="submit" value="Registrar" class="btn btn-success float-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
</div>
</div>

{% endblock %}
