{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Sobre Nosotros</h1>
          <p>La Clínica Dental de Todos.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- ABOUT SECTION -->
  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Qué hacemos</h1>
          <p>Somos una Clínica Odontológica creada por dos ex-alumnos de la Universidad Católica de Chile, que han tenido el sueño de otorgar un servicio dental a persona de escasos recursos. Un servicio que, además de estar para quien lo necesite, también se un servicio de calidad y con tecnologpia moderna.</p>
          <p>Esto se ha hecho posible gracias al fondo extranjero del año 2020.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ICON BOXES -->
  <section id="icon-boxes" class="p-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-hospital-o"></i>
              <h3>Clínica Moderna</h3>
              Contamos con tecnlogía de punta
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-bullhorn"></i>
              <h3>Derechos Fundamentales</h3>
              Creemos en el derecho universal de la salud
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-comments"></i>
              <h3>Te Escuchamos</h3>
              Escríbenos a contacto@lindasonrisa.cl
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-question"></i>
              <h3>Preguntas Frecuentes</h3>
              Revisa nuestra sección de Preguntas Frecuentes
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-clock-o"></i>
              <h3>Amplios Horarios</h3>
              Contamos con servicio de urgencia
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-plus-square"></i>
              <h3>Puesta de Valor</h3>
              Primeros en Chile en entregar una atención odontológica gratuita y de calidad
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <!-1- TESTIMONIALS -1-> -->
  <!-- <section id="testimonial-section" class="p-4 bg-dark text-white"> -->
  <!--   <div class="container"> -->
  <!--     <h2 class="text-center">Testimonios</h2> -->
  <!--     <div class="row"> -->
  <!--       <div class="col"> -->
  <!--         <div class="slider"> -->
  <!--           <div> -->
  <!--             <blockquote class="blockquote"> -->
  <!--               <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sunt!</p> -->
  <!--               <footer class="blockquote-footer">Alonso Gana de<cite title="Company 1"> Dentistas por Chile</cite></footer> -->
  <!--             </blockquote> -->
  <!--           </div> -->
  <!--           <div> -->
  <!--             <blockquote class="blockquote"> -->
  <!--               <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sunt!</p> -->
  <!--               <footer class="blockquote-footer">Esteban Claro de<cite title="Company 2"> Junta de Vecinos, Lo Prado</cite></footer> -->
  <!--             </blockquote> -->
  <!--           </div> -->
  <!--           <div> -->
  <!--             <blockquote class="blockquote"> -->
  <!--               <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, sunt!</p> -->
  <!--               <footer class="blockquote-footer">Fernanda Fuentes de <cite title="Company 3">La Tercera</cite></footer> -->
  <!--             </blockquote> -->
  <!--           </div> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </section> -->

{% endblock %}
