{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Queremos conocerte</h1>
          <p>Envía tus documentos para que armemos tu Ficha Económica</p>
        </div>
      </div>
    </div>
  </header>
  <section id="contact" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card p-8">
            <div class="card-body">
              <h4>Documentos Requeridos</h4>
              <p>Liquidaciones de sueldo</p>
              <p>Certificado AFP</p>
              <p>Finiquito</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card p-4">
            <div class="card-body">
              <h3 class="text-center">Subir Documento</h3>
              <hr>
              {% load crispy_forms_tags %}
              <form method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{ form | crispy }}

                <input type="file" class="btn btn-block" name="document">
                <button type="submit" class="btn btn-primary btn-block">
                    Enviar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
